openapi: 3.0.3
info:
  title: Aevo Exchange Private REST Account Instruments API
  description: Authenticated REST API for Aevo exchange providing account management, order placement and management, position tracking, portfolio data, transfers, withdrawals, and trading history. Requires AEVO-KEY and AEVO-SECRET authentication headers obtained via cryptographic key registration.
  version: 1.0.0
  contact:
    name: Aevo Support
    url: https://docs.aevo.xyz/
servers:
- url: https://api.aevo.xyz
  description: Aevo Exchange production server
security:
- AevoKey: []
  AevoSecret: []
tags:
- name: Instruments
  description: Instrument and market information
paths:
  /markets:
    get:
      tags:
      - Instruments
      summary: Get markets
      description: Returns a list of all available instruments/markets on the exchange.
      operationId: getMarkets
      parameters:
      - name: asset
        in: query
        required: false
        description: Name of underlying asset.
        schema:
          type: string
          example: ETH
      - name: instrument_type
        in: query
        required: false
        description: Type of instrument.
        schema:
          type: string
          enum:
          - OPTION
          - PERPETUAL
          - SPOT
      responses:
        '200':
          description: List of markets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /assets:
    get:
      tags:
      - Instruments
      summary: Get available assets
      description: Returns a list of all available underlying assets on the exchange.
      operationId: getAssets
      responses:
        '200':
          description: List of assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      type: string
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /expiries:
    get:
      tags:
      - Instruments
      summary: Get available expiries
      description: Returns the list of available option expiry dates.
      operationId: getExpiries
      parameters:
      - name: asset
        in: query
        required: false
        schema:
          type: string
          example: ETH
      responses:
        '200':
          description: List of expiries
          content:
            application/json:
              schema:
                type: object
                properties:
                  expiries:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: ERR_MALFORMED_REQUEST
    Instrument:
      type: object
      properties:
        instrument_id:
          type: string
          description: Numeric instrument identifier
        instrument_name:
          type: string
          example: ETH-30JUN23-1600-C
        instrument_type:
          type: string
          enum:
          - OPTION
          - PERPETUAL
          - SPOT
        underlying_asset:
          type: string
          example: ETH
        quote_asset:
          type: string
          example: USDC
        price_step:
          type: string
          description: Allowed increments in price
        amount_step:
          type: string
          description: Allowed increments in contract amount
        min_order_value:
          type: string
        max_order_value:
          type: string
        max_notional_value:
          type: string
        mark_price:
          type: string
        forward_price:
          type: string
        index_price:
          type: string
        is_active:
          type: boolean
          description: Whether trading is active
        option_type:
          type: string
          enum:
          - put
          - call
          description: Option type (only for options)
        expiry:
          type: string
          description: Expiry timestamp in UNIX nanoseconds (only for options)
        strike:
          type: string
          description: Strike price (only for options)
        greeks:
          type: object
          properties:
            delta:
              type: string
            gamma:
              type: string
            rho:
              type: string
            theta:
              type: string
            vega:
              type: string
            iv:
              type: string
        max_leverage:
          type: string
          description: Maximum leverage (only for perpetuals)
  securitySchemes:
    AevoKey:
      type: apiKey
      in: header
      name: AEVO-KEY
      description: API key obtained from Aevo account settings
    AevoSecret:
      type: apiKey
      in: header
      name: AEVO-SECRET
      description: API secret obtained from Aevo account settings
