openapi: 3.0.3
info:
  title: Aevo Exchange Private REST Account Trade History API
  description: Authenticated REST API for Aevo exchange providing account management, order placement and management, position tracking, portfolio data, transfers, withdrawals, and trading history. Requires AEVO-KEY and AEVO-SECRET authentication headers obtained via cryptographic key registration.
  version: 1.0.0
  contact:
    name: Aevo Support
    url: https://docs.aevo.xyz/
servers:
- url: https://api.aevo.xyz
  description: Aevo Exchange production server
security:
- AevoKey: []
  AevoSecret: []
tags:
- name: Trade History
  description: Trade and transaction history endpoints
paths:
  /trade-history:
    get:
      tags:
      - Trade History
      summary: Get trade history
      description: Returns historical trade records for the authenticated account.
      operationId: getTradeHistory
      parameters:
      - name: start_time
        in: query
        required: true
        description: Entries created prior to start time are excluded. UNIX nanoseconds.
        schema:
          type: integer
      - name: asset
        in: query
        required: false
        schema:
          type: string
          example: ETH
      - name: end_time
        in: query
        required: false
        schema:
          type: integer
      - name: instrument_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPTION
          - PERPETUAL
          - SPOT
      - name: option_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - put
          - call
      - name: trade_types
        in: query
        required: false
        description: Filter by trade type.
        schema:
          type: array
          items:
            type: string
            enum:
            - trade
            - liquidation
            - settlement
            - funding
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          maximum: 50
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Trade history
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of rows matching the query
                  trade_history:
                    type: array
                    items:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /transaction-history:
    get:
      tags:
      - Trade History
      summary: Get transaction history
      description: Returns historical transactions (deposits, withdrawals, transfers) for the authenticated account.
      operationId: getTransactionHistory
      parameters:
      - name: start_time
        in: query
        required: false
        schema:
          type: integer
      - name: end_time
        in: query
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
          maximum: 50
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  transaction_history:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Malformed request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
  securitySchemes:
    AevoKey:
      type: apiKey
      in: header
      name: AEVO-KEY
      description: API key obtained from Aevo account settings
    AevoSecret:
      type: apiKey
      in: header
      name: AEVO-SECRET
      description: API secret obtained from Aevo account settings
